body {
  /* font-family: "Avenir Next";
  color: #404146; */
  text-align: center;
}

html {
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --main-font-color: #F8B500;
  --main-white: #fff;
  --main-font-dark-gray: #4d4d4d;
  --main-font-dark: #000;
}


li {
  list-style: none;
}

.bg {
  float: right;
  margin-top: -330px;
  margin-right: 100px;
}

.home-content {
  text-align: left;
}

.home-content .text-1 {
  font-size: 27px;
}

.home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home-content a {
  display: inline-block;
  background: var(--main-font-color);
  color: var(--main-white);
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.home-content a:hover {
  color: var(--main-white);
  background-color: var(--main-font-dark);
}


/* Awal Aside */
aside {
  float: right;
  width: 30%;
  padding-left: 20px;
}

.profile img {
  height: 200px;
  border-radius: 100%;
  border: 1px solid var(--main-font-dark-gray);
}

.profile img:hover {
  cursor: pointer;
  filter: drop-shadow(7px 7px 15px #F8B500);
}

.profile header {
  text-align: center;
}

.profile h2 {
  margin-top: 50px;
  padding-bottom: 20px;
  font-size: 28px;
}

aside article .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

aside .card {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 15px;
  margin-top: 50px;
}

.card h2 {
  cursor: pointer;
}

.lain {
  text-align: justify;
  margin-top: 0;
  font-size: 15px;
}

.lain td {
  color: var(--main-font-dark-gray);
  font-weight: 500;
}

@media screen and (max-width: 1000px) {
  aside {
    width: 100%;
    padding: 0;
  }
}

/* Akhir Aside */

.foto {
  float: right;
}

.kosong3 {
  height: 100px;
  width: 100%;

}

.biodata h1 {
  text-align: center;
  font-size: 30px;
}

.tentang {
  text-align: left;
  font-size: 20px;
  color: var(--main-font-dark-gray);
  font-weight: 300;
  line-height: 50px;
  padding: 50px;
}


.header {
  background-color: var(--main-font-dark);
  color: var(--main-white);
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 10px;
  padding: 25px 40px;
  color: var(--main-font-color);
}

.header-list li {
  float: left;
  padding: 33px 20px;
  font-size: 20px;
}

.header-list a {
  text-decoration: none;
  color: var(--main-white);
}

.copy-container {
  margin-top: 100px;
  margin-bottom: 100px;

}

.copy-container h1 {
  font-size: 60px;
  margin-bottom: 0px;
  letter-spacing: 10px;
}

.copy-container h2 {
  font-size: 60px;
  font-weight: 200;
  margin-top: 0px;
  margin-bottom: 0px;
}

.copy-container span {
  color: var(--main-font-color);
}

.copy-container img {
  height: 400px;

}

.about {
  font-size: 28px;
  height: 260px;
  background-color: rgb(244, 244, 244);
  padding-top: 80px;
  padding-bottom: 80px;
}

/*.about h3 {
  padding-top: 80px;
  padding-bottom: 20px;
}*/

.about p {
  padding: 0px 150px;
  font-size: 20px;
}

.contents {
  height: 500px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.contents h3 {
  font-size: 28px;
  padding-bottom: 20px;
}

.contents-item {
  float: left;
  width: 33.3%;
}

.contents-item img {
  height: 300px;
  box-shadow: 5px 5px 20px rgba(228, 228, 228, 0.886);
}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;
}

.contact-form {
  height: 500px;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: rgb(244, 244, 244);
  color: #ffffff;
}

.contact-title {
  font-size: 28px;
  padding-bottom: 20px;
  color: #ffffff;
}

input,
textarea {
  width: 800px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 0px;
  background-color: #ffffff;
  border-radius: 15px;
}

::placeholder {
  font-family: "Avenir Next";
  color: #7C7D83;
}

.contact-submit {
  width: 150px;
  background-color: #F8B500;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

.contact-form {
  background-color: #4d4d4d;
}

.contact-form p {
  font-size: 20px;
}

.footer {
  background-color: #000;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
}


.footer .footer-logo p {
  text-align: left;
  font-size: 20px;
  color: var(--main-white);
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}

.footer-list a {
  text-decoration: none;
  color: #fff;
}
